@import "../../styles.scss";

:local(.listItem) {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 20px 0;
  @include mobile-only {
    display: block;
  }
  .cover {
    width: 20%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    @include mobile-only {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      z-index: -1;
    }
  }
  .info {
    width: 80%;
    line-height: 1.2;
    .track-name {
      font-size: 1.5em;
      color: #000;
      text-decoration: none;
    }
    @include mobile-only {
      display: block;
      width: 50%;
      padding: 20px;
    }
    .artists {
      list-style: none;
      padding: 0;
      a {
        color: #000;
        text-decoration: none;
      }
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
    .audio-player {
      .audio-player-track-name {
        width: 0 !important;
      }
      #play-icon {
        width: 50px;
        height: 50px !important;
      }
    }
  }
  .actions {
    @include mobile-only {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}


