:local(.Header) {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
  background: #121212;
  z-index: 2;

  .wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 980px;

    .logo {
      display: block;
      width: 120px;
      position: absolute;
      left: 10px;
      top: 24px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        width: 36px;
        margin: 0;
        vertical-align: middle;
      }

    }

    h1 {
      display: inline-block;
      margin-left: 60px;
      font-size: 20px;
      color: #ffffff;
    }

  }
}