:local(.Checkbox) {

  display: inline-block;
  position: relative;
  margin: auto;

  .btn {
    display: none;

    &:checked + .check {
      .image {
        background-image: url(../../assets/graphics/iconfinder_Selected_checkbox_2630408.svg);
      }
    }
  }

  .check {

    .image {
      display: block;
      width: 80px;
      height: 80px;
      background-image: url(../../assets/graphics/iconfinder_unSelected_checkbox_2630387.svg);
      background-size: cover;
      transition: .1s background-image ease;
    }
  }

}