@import "../../styles.scss";

:local(.ActionButton) {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 8px 20px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background: #57bb63;
  transform: translateY(-50%);
  outline: none;

  @include mobile-only {
    display: block;
    position: relative;
    top: 20px;
    margin: 0 10px 16px;
    padding: 8px 12px;
  }
}