@import "./styles.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #121212;
  margin: 0;
  padding: 0;
}

:local(.App) {
  .main {
    max-width: 940px;
    margin: 80px auto;
    padding: 0 20px;
    @include mobile-only {
      margin-top: 80px;
      &.tabbed{
        margin-top: 130px;
      }
    }

    .login{
      padding: 4px 20px;
      font-size: 20px;
      border: 1px solid;
      border-radius: 2px;
      color: #000;
    }
  }
}
